
        $accent_color: #4C4F69;
        $widget_secondary_bg_color: #BCC1CD;
        $widget_bg_color: #CCD0DA;
        $hover_bg_color: #E1E6F0;
        $bg_color: #FFFFFF;
        $error: red;  // El color de error siempre será rojo
    