$accent_color: #dbc66e;
            $widget_secondary_bg_color: #4e472a;
            $widget_bg_color: #3c3930;
            $hover_bg_color: #222017;
            $bg_color: #15130b;
            $error: red;
