
        $accent_color: #FABD2F;
        $widget_secondary_bg_color: #504945;
        $widget_bg_color: #524c49;
        $hover_bg_color: #ad883d;
        $bg_color: #353535;
        $error: red;
    