$accent_color: #9ccbfb;
            $widget_secondary_bg_color: #3a4857;
            $widget_bg_color: #36393e;
            $hover_bg_color: #1c2024;
            $bg_color: #101418;
            $error: red;
