$accent_color: #ffb77d;
            $widget_secondary_bg_color: #5a422e;
            $widget_bg_color: #413731;
            $hover_bg_color: #261e18;
            $bg_color: #19120c;
            $error: red;
