$accent_color: #d7c870;
            $widget_secondary_bg_color: #4c472b;
            $widget_bg_color: #3c3930;
            $hover_bg_color: #222017;
            $bg_color: #15130c;
            $error: red;
