$accent_color: #c0ce7e;
            $widget_secondary_bg_color: #45492f;
            $widget_bg_color: #393a31;
            $hover_bg_color: #1f2019;
            $bg_color: #13140d;
            $error: red;
