$accent_color: #4a672d;
            $widget_secondary_bg_color: #bfcbad;
            $widget_bg_color: #afd18c;
            $hover_bg_color: #cbeea5;
            $bg_color: #f9faef;
            $error: red;
