$accent_color: #a8d292;
            $widget_secondary_bg_color: #3d4b36;
            $widget_bg_color: #373a33;
            $hover_bg_color: #1d211a;
            $bg_color: #11140f;
            $error: red;
