$accent_color: #715c0c;
            $widget_secondary_bg_color: #d4c6a1;
            $widget_bg_color: #e0c46d;
            $hover_bg_color: #fee086;
            $bg_color: #fff8f0;
            $error: red;
