$accent_color: #aec6ff;
            $widget_secondary_bg_color: #3f4759;
            $widget_bg_color: #37393e;
            $hover_bg_color: #1e1f25;
            $bg_color: #111318;
            $error: red;
