$accent_color: #b9cf83;
            $widget_secondary_bg_color: #434a31;
            $widget_bg_color: #383a32;
            $hover_bg_color: #1f2019;
            $bg_color: #12140d;
            $error: red;
