@use "./colors.scss";
@use "sass:string";

$top_height: 2.7rem;
$bradius: 25px;
$widget_bradius: 15px;
$circular_button_bradius: 50%;
$filler_bars_thickness : 0.65rem;
$icons_font_size: 1.2rem;

* {
    font-family: Manrope;
}

window.TopLeftWindow {
    
    //To put the widget on the right position due to exclusivity equals IGNORE
    .TopLeftSection {
        margin-top: #{$filler_bars_thickness + 0.05rem};
        margin-left: #{$filler_bars_thickness + 0.05rem};
    }

    .TopLeftButtons {
        background-color: colors.$bg_color;
        min-height: $top_height;
        border-radius: 0 0 #{$bradius + 1.7px} 0;
    }
    .Button {
        background-color: colors.$widget_bg_color;
        color: colors.$accent_color;
        border: 0px;
        min-height: 1.5rem;
        margin: 0 $filler_bars_thickness #{$filler_bars_thickness + 0.08rem} 0;
        transition: background-color 0.2s ease-in-out;        

        &.AppNameEntry{
            padding: 0 0.6rem 0 0.6rem;            
            border-radius: $bradius;
        }
        &.AppLauncherButton {
            padding: 0 0.54rem 0 0.54rem;
            border-radius: $circular_button_bradius;
            
            label {
                //padding-right: 0.2rem;
            }
        }
        &.DashboardButton{            
            padding: 0 0.6rem 0 0.6rem;
            min-width: 5.8rem;
            border-radius: $bradius;
            font-weight: normal;
        }
        &.StyleButton{
            padding: 0 0.54rem 0 0.54rem;
            border-radius: $circular_button_bradius;

            label {
                //padding-right: 0.4rem;
            }
        }
    }

    .Button > label {
        font-size: $icons_font_size;
    }

    .Button:hover {
        background-color: colors.$hover_bg_color;
    }

    .Button:focus {
        background-color: colors.$hover_bg_color;
        outline: 0;
    }

    .AppLauncher {
        background-color: colors.$bg_color;
        min-height: 32.65rem;
        min-width: 29.5rem;
        padding: 0 $filler_bars_thickness $filler_bars_thickness 0;
        border-radius: 0 0 $bradius 0;


        .AppButton {
            background-color: colors.$widget_bg_color;
            border-radius: #{$bradius - 8px};

            icon {
                font-size: 3rem;
                margin-right: .3rem;
            }

            label.name {
                font-weight: bold;
                font-size: 1.1rem;
                color: colors.$accent_color;
            }

            label.description {
                font-weight: lighter;
                color: colors.$accent_color;
            }
        }
        .AppButton:focus {
            background-color: colors.$hover_bg_color;
            outline: 0;
        }
    }
    
    //vexpand
    .Dashboard {
        background-color: colors.$bg_color;
        min-width: 28rem;
        padding: 0 #{$filler_bars_thickness + 0.06rem} $filler_bars_thickness 0;
        border-radius: 0 0 $bradius 0;

        .WhoamiBox {
            margin: $filler_bars_thickness;

            .ProfileImage {
                min-width: 4.4rem;
                min-height: 4.4rem;
                border-radius: 100%;

                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

            }

            .Divider {
                min-width: 0.25rem;
                background-color: colors.$widget_bg_color;
                border-radius: 50px;
                margin: 0.5rem $filler_bars_thickness 0.5rem #{$filler_bars_thickness * 1.5};
            }

            .UserInfo {
                margin-top: $filler_bars_thickness;
                margin-left: $filler_bars_thickness;
    
                label {
                    font-size: 18px;
                    color: colors.$accent_color;
                }
            }
        }

        .NetInfoButton {
            margin-top: $filler_bars_thickness;
            background-color: colors.$widget_bg_color;
            border-radius: $widget_bradius;
            
            .IpSpeed {
                margin: 0.2rem 4rem $filler_bars_thickness 4rem;
            }
            .Ip {
                margin-top: $filler_bars_thickness;
                color: colors.$accent_color;
                font-size: 20px;
                font-weight: normal;
            }
            .NetSpeed {
                color: colors.$accent_color;
                font-size: 16px;
                font-weight: normal;
            }

            .NetInfoDivider {
                min-width: 0.25rem;
                background-color: colors.$bg_color;
                border-radius: 50px;
                margin: 0.5rem $filler_bars_thickness 0.5rem #{$filler_bars_thickness * 1.5};
            }
            
            .NetTypeIcon {
                margin: $filler_bars_thickness 1.6rem $filler_bars_thickness 1rem;
                
            } 
            .NetTypeIcon > label {
                color: colors.$accent_color;
                font-size: 50px;
            }            
            
        }

        .NetInfoButton:hover {
            background-color: colors.$hover_bg_color;
        }

        .AudioPlayerContainer {
            margin-top: $filler_bars_thickness;
            padding: 2px;
            background-color: colors.$widget_bg_color;
            border-radius: $widget_bradius;

            box.MediaPlayer {
                padding: $filler_bars_thickness;
                background-color: colors.$bg_color;
                border-radius: $widget_bradius;
            
                box.cover-art {
                    min-width: 85px;
                    min-height: 80px;
                    border-radius: $bradius;
                    margin-right: $filler_bars_thickness;
                    background-size: contain;
                    background-position: center;
                    border-radius: $widget_bradius;
                }
            
                box.title {
                    color: colors.$accent_color;
                    label {
                        font-weight: bold;
                        font-size: 1.1em;
                        
                    }
                }

                label.artist {
                    color: colors.$widget_secondary_bg_color;
                }
            
                scale {
                    padding: 0;
                    margin: .4rem 0;
            
                    trough {
                        min-height: 8px;
                        background-color: colors.$widget_bg_color;
                        border-radius: $widget_bradius;
                    }
            
                    highlight {
                        background-color: colors.$accent_color;
                    }
            
                    slider {
                        all: unset;
                        color: colors.$accent_color;
                    }
                }
            
                centerbox.actions {
                    min-width: 220px;
                    color: colors.$accent_color;

                    button {
                        min-width: 0;
                        min-height: 0;
                        padding: .4rem;
                        margin: 0 .2rem;
                        background-color: colors.$widget_bg_color;
                        color: colors.$accent_color;
                        border-radius: $circular_button_bradius;
                    }

                    button:hover {
                        background-color: colors.$hover_bg_color;
                    }

                    button:focus {
                        background-color: colors.$hover_bg_color;
                        outline: 0;
                    }
            
                }
            }
        }
        
        .SysUsage {
            margin-top: $filler_bars_thickness;
            background-color: colors.$bg_color;
            border-radius: $widget_bradius;

            circularprogress {
                color: colors.$accent_color;
                background-color: colors.$widget_bg_color;
                min-width: 80px;
                min-height: 80px;
            }

            .RamUsage, .DiskUsage {
                margin: $filler_bars_thickness;
                label {
                    color: colors.$accent_color;
                    font-size: 40px;
                    //padding-right: 4px;
                }
            }

            .RamUsage {
                margin-left: 2rem;
            }
            .CpuUsage {
                margin: $filler_bars_thickness;
                label {
                    color: colors.$accent_color;
                    font-size: 38px;
                    //padding-right: 12px;
                }
            }
            .DiskUsage {
                margin-right: 2rem;
            }
        }
        
        .QuickNote {
            margin-top: $filler_bars_thickness;
            background-color: colors.$widget_bg_color;
            border-radius: $widget_bradius;

            .Title {
                min-height: 2rem;
                margin-left: $filler_bars_thickness;
                margin-right: $filler_bars_thickness;
                .QNLabel {
                    color: colors.$accent_color;
                    padding: 0 0.6rem 0 0.6rem;
                    font-size: $icons_font_size;                    
                }

                .ClearSave {
                    background-color: transparent;
                    color: colors.$accent_color;
                    border: 0px;
                    padding: 0;
                    transition: color 0.3s ease-in-out;
                }
                .ClearSave > label {
                    font-size: $icons_font_size;
                }

                .ClearSave:hover {
                    color: colors.$bg_color;
                }
            }

            .Content {
                padding: 4px;
                margin: 2px;
                min-height: 14rem;
                background-color: colors.$bg_color;
                border-radius: 0 0 $widget_bradius $widget_bradius;

                scrollable{
                    all: unset;
                    border: 0;
                    min-height: 14rem;

                    * { 
                        background-color: colors.$bg_color;
                        color: colors.$accent_color;
                    }
                }
            }
        }
    }
}

window.TopCenterWindow {

    .TopCenterSection {
        margin-top: #{$filler_bars_thickness + 0.05rem};
    }

    .Container {
        background-color: colors.$bg_color;
        min-height: #{$top_height - $filler_bars_thickness};
        padding: 0 $filler_bars_thickness $filler_bars_thickness $filler_bars_thickness;
        border-radius: 0 0 $bradius $bradius;

        .Workspaces {
            background-color: colors.$widget_bg_color;
            padding: $filler_bars_thickness;
            border-radius: $widget_bradius;

            button {
                border: 0;
                min-width: 0.86rem;
                min-height: 0.34rem;
                padding-left: 0rem;
                padding-right: 0rem;
                border-radius: $circular_button_bradius;

                transition: min-width 0.3s ease, background-color 0.3s ease-out;
            }
    
            .focused {
                background-color: colors.$accent_color;
                min-width: 1.6rem;
                border-radius: $widget_bradius;
            }
    
            .unfocused {
                background-color: colors.$hover_bg_color;
            }

            button:hover {
                background-color: colors.$widget_secondary_bg_color;
            }

            button:focus {
                background-color: colors.$hover_bg_color;
                outline: 0;
            }

        }        
    }

    .ClosePreviewerButton {
        background-color: colors.$widget_bg_color;
        color: colors.$accent_color;
        border: 0px;        
        transition: background-color 0.2s ease-in-out;
        min-width: 3.6rem;
        border-radius: $bradius;
        margin-top: $filler_bars_thickness;
    }
    .ClosePreviewerButton:hover {
        background-color: colors.$hover_bg_color;
    }
    .ClosePreviewerButton:focus {
        background-color: colors.$hover_bg_color;
        outline: 0;
    }

    .WorkspacesPreview {
        background-color: colors.$bg_color;
        border-radius: 0 0 $bradius $bradius;

        .Previewer {
            background-color: colors.$bg_color;
            margin: 0 $filler_bars_thickness $filler_bars_thickness $filler_bars_thickness;

            .focused, .unfocused {                
                min-width: 150px;
                min-height: 92px;
                border-radius: $widget_bradius;
                padding: 2px;
            }

            .focused {
                background-color: colors.$accent_color;
            }

            .unfocused {
                background-color: colors.$widget_bg_color;
            }

            .WorkspaceContent {                
                background-color: colors.$bg_color;
                border-radius: $widget_bradius;
                padding: 4px;


                .WindowIcon {
                    font-size: 2rem;
                }
            }

        }

    }


}

window.TopRightWindow {
    
    //To put the widget on the right position due to exclusivity equals IGNORE
    .TopRightSection {
        margin-top: #{$filler_bars_thickness + 0.05rem};
        margin-right: #{$filler_bars_thickness + 0.05rem};        
    }

    .TopRightButtons {
        background-color: colors.$bg_color;
        min-height: $top_height;
        border-radius: 0 0 0 #{$bradius + 1.7px};
    }

    .Button {
        background-color: colors.$widget_bg_color;
        color: colors.$accent_color;
        border: 0px;
        min-height: 1.5rem;
        margin: 0 0 #{$filler_bars_thickness + 0.08rem} $filler_bars_thickness;
        transition: background-color 0.2s ease-in-out;        

        &.TrayIconsButton {
            padding: 0 0.7rem 0 0.7rem;
            border-radius: $widget_bradius;

            .TrayIconsContainer {            
                padding: 0.2rem;                
            }
            .tray-item {
                background-color: colors.$widget_bg_color;
                padding: 0 0.54rem 0 0.54rem;
            }
        }
        &.ClipboardButton {
            padding: 0 0.54rem 0 0.54rem;
            border-radius: $circular_button_bradius;
        }
        &.SettingsButton {
            padding: 0 0.54rem 0 0.54rem;
            border-radius: $circular_button_bradius;

            label {
                padding-right: 1px;
            }
        }
        &.NotificationCenterButton {
            padding: 0 0.6rem 0 0.6rem;
            min-width: 4rem;
            border-radius: $bradius;
            font-weight: normal;
        }
        &.CloseButton {
            padding: 0 0.54rem 0 0.54rem;
            border-radius: $circular_button_bradius;
            label {
                //padding-right: 2px;
            }
        }
    }

    .Button > label {
        font-size: $icons_font_size;
    }

    .Button:hover {
        background-color: colors.$hover_bg_color;
    }
    .Button:focus {
        background-color: colors.$hover_bg_color;
        outline: 0;
    }

    .Clipboard {
        background-color: colors.$bg_color;
        min-width: 24rem;
        padding: 0 0 $filler_bars_thickness #{$filler_bars_thickness + 0.06rem};
        border-radius: 0 0 0 $bradius;        

        scrollable {
            min-height: 30rem;
        }

        .ClipboardItem {
            background-color: colors.$widget_bg_color;
            border-radius: #{$bradius - 8px};            
            
            .item {
                color: colors.$accent_color;
                padding-right: 0.1rem;
                font-weight: normal;
            }
        }
        .ClipboardItem:hover {
            background-color: colors.$hover_bg_color;
        }
        .ClipboardItem:focus {
            background-color: colors.$hover_bg_color;
            outline: 0;
        }

        .ClearClipboardButton {
            margin-top: $filler_bars_thickness;
            background-color: colors.$widget_bg_color;
            color: colors.$accent_color;
            border: 0px;
            border-radius: $widget_bradius;
            transition: background-color 0.3s ease-in-out;
        }
        .ClearClipboardButton:hover {
            background-color: colors.$hover_bg_color;
        }
        .ClearClipboardButton:focus {
            background-color: colors.$hover_bg_color;
            border: 0;
            outline: 0;
        }
    }

    .NotificationCenter {
        background-color: colors.$bg_color;
        padding: 0 0 $filler_bars_thickness #{$filler_bars_thickness + 0.06rem};
        border-radius: 0 0 0 $bradius;

        .Date {
            margin: $filler_bars_thickness;
            color: colors.$accent_color;

            .DayOfWeek {
                font-size: 22px;
                font-weight: bold;
            }

            .FullDate {
                font-size: 24px;
            }
        }

        .CalendarContainer {
            background-color:colors.$widget_bg_color;
            border-radius: $widget_bradius;

            .Border {
                padding: 2px;

                calendar {
                    //padding-bottom: 4px;
                    padding: 6px;
                    border-radius: $widget_bradius;
                    background-color: colors.$bg_color;
                    color: colors.$accent_color;
                    border: 0;
    
                    .button {
                        background-color: colors.$widget_bg_color;
                    }
    
                    .header {
                        border: 0;
                        //border-radius: 10px 10px 0 0;
                        background-color: colors.$widget_bg_color;
                    }

                }

                calendar:selected {
                    background-color: colors.$widget_bg_color;
                }
                calendar:hover {
                    color: colors.$hover_bg_color;
                }
                calendar:indeterminate {
                    color: colors.$widget_secondary_bg_color;
                }
            }
            
        }
        
        .NotificationsContainer {
            margin-top: $filler_bars_thickness;
            background-color: colors.$widget_bg_color;
            border-radius: $widget_bradius;

            .Title {
                min-height: 2rem;
                margin-left: $filler_bars_thickness;
                margin-right: $filler_bars_thickness;

                .NCLabel {
                    color: colors.$accent_color;
                    padding: 0 0.6rem 0 0.6rem;
                    font-size: $icons_font_size;
                }

                .NotDisturbClear {
                    background-color: transparent;
                    color: colors.$accent_color;
                    border: 0px;
                    padding: 0;
                    transition: color 0.3s ease-in-out;
                }
                .NotDisturbClear > label {
                    font-size: $icons_font_size;
                }

                .NotDisturbClear:hover {
                    color: colors.$bg_color;
                }
            }

            .Content {
                padding: 4px;
                margin: 2px;
                min-height: 14rem;
                background-color: colors.$bg_color;
                border-radius: 0 0 $widget_bradius $widget_bradius;

                scrollable{                    
                    min-height: 18rem;
                }
            }
            
        }
    }

    .Settings {
        background-color:colors.$bg_color;
        padding: 0 0 $filler_bars_thickness #{$filler_bars_thickness + 0.06rem};
        border-radius: 0 0 0 $bradius;

        .AudioSettings {
            background-color: colors.$bg_color;
            margin-top: 0.4rem;

            .AudioSlider {
                min-width: 16rem;

                * {
                    all: unset;
                }
        
                icon {
                    color: colors.$accent_color;
                    margin-right: .6em;
                    font-size: $icons_font_size;
                }
        
                & {
                    margin: 0 1em;
                }
        
                trough {
                    background-color: colors.$widget_bg_color;
                    border-radius: $widget_bradius;
                }
        
                highlight {
                    background-color: colors.$accent_color;
                    min-height: .8em;
                    border-radius: $widget_bradius;
                }
        
                // slider {
                //     background-color: colors.$hover_bg_color;
                //     border-radius: $widget_bradius;
                //     min-height: 1em;
                //     min-width: 1em;
                //     margin: -.2em;
                // }
            }

            .DevicesButton {
                background-color: colors.$widget_bg_color;
                color: colors.$accent_color;
                border: 0px;
                padding: 0 0.45rem 0 0.45rem;
                border-radius: $circular_button_bradius;
            }
            .DevicesButton > label {
                font-size: $icons_font_size;
            }
            .DevicesButton:hover {
                background-color: colors.$hover_bg_color;
            }
            .DevicesButton:focus {
                background-color: colors.$hover_bg_color;
                outline: 0;
            }

            .DevicesContainer {
                background-color: colors.$bg_color;
                margin-top: $filler_bars_thickness;                
                border-radius: $widget_bradius;

                button {
                    color: colors.$accent_color;
                    border-radius: $widget_bradius;
                }
                button:hover {
                    background-color: colors.$hover_bg_color;
                }
                button:focus {
                    background-color: colors.$hover_bg_color;
                    outline: 0;
                }

                .active {
                    background-color: colors.$widget_secondary_bg_color;
                    
                }

                .inactive {
                    background-color: colors.$widget_bg_color;
                }

                .DeviceVolume {
                    font-weight: normal;
                }
            }
        }

        .ThemeSettings {
            margin-top: $filler_bars_thickness;
            background-color: colors.$widget_bg_color;
            border-radius: $widget_bradius;

            .Title {
                min-height: 2rem;
                margin-left: $filler_bars_thickness;
                margin-right: $filler_bars_thickness;

                label {
                    color: colors.$accent_color;
                    padding: 0 0.6rem 0 0.6rem;
                    font-size: $icons_font_size;
                }
            }

            .Content {
                padding: 4px;
                margin: 2px;
                background-color: colors.$bg_color;
                border-radius: 0 0 $widget_bradius $widget_bradius;

                .WallControl {
                    margin: $filler_bars_thickness;
                    .Border {
                        background-color: colors.$widget_bg_color;
                        padding: 2px;
                        border-radius: $widget_bradius;

                        .ColorsContainer {
                            background-color: colors.$bg_color;
                            padding: $filler_bars_thickness;
                            border-radius: $widget_bradius;
                            
                            button {
                                border: 0;
                                min-width: 0.9rem;
                                min-height: 0.9rem;
                                padding-left: 0;
                                padding-right: 0;
                                border-radius: $circular_button_bradius;
    
                                &.AccentColor {
                                    border: 1px solid colors.$accent_color;
                                    background-color: colors.$accent_color;
                                }
                                &.WidgetSecondaryBgColor {
                                    border: 1px solid colors.$widget_secondary_bg_color;
                                    background-color: colors.$widget_secondary_bg_color;
                                }
                                &.WidgetBgColor {
                                    border: 1px solid colors.$widget_bg_color;
                                    background-color: colors.$widget_bg_color;
                                }
                                &.HoverBgColor {
                                    border: 1px solid colors.$hover_bg_color;
                                    background-color: colors.$hover_bg_color;
                                }
                                &.BgColor {
                                    border: 1px solid colors.$widget_bg_color;
                                    background-color: colors.$bg_color;
                                }
                                
                            }
                                                    
    
                        }
                    }

                    .ActiveTheme {
                        background-color: colors.$hover_bg_color;
                    }

                    button {
                        min-width: 1.5rem;
                        background-color: colors.$widget_bg_color;
                        color: colors.$accent_color;
                        border-radius: $circular_button_bradius;
                        padding: 0rem 0.54rem 0rem 0.54rem;
                    }
                    button:hover {
                        background-color: colors.$hover_bg_color;
                    }
                    button:focus {
                        background-color: colors.$hover_bg_color;
                        outline: 0;
                    }
                    button > label {
                        font-size: $icons_font_size;
                        //padding-right: 2px;
                    }
                }

                .Themes {
                    min-height: 8rem;
                    margin: $filler_bars_thickness;

                    button {                        
                        background-color: colors.$widget_bg_color;
                        color: colors.$accent_color;
                        border-radius: $widget_bradius;
                        
                    }
                    button:hover {
                        background-color: colors.$hover_bg_color;
                    }
                    button:focus {
                        background-color: colors.$hover_bg_color;
                        outline: 0;
                    }

                }                
            }


            
        }
        
        .PowerButtonsContainer {
            margin-top: $filler_bars_thickness;
            border-radius: $widget_bradius;
            background-color: colors.$widget_bg_color;
            padding: 2px;

            .PowerButtons {
                background-color: colors.$bg_color;
                border-radius: $widget_bradius;
                padding: $filler_bars_thickness;                

                button {
                    color: colors.$accent_color;
                    background-color: colors.$widget_bg_color;
                }

                button > label {
                    font-size: $icons_font_size;
                    //padding-right: 2px;
                }
            
                button:hover {
                    background-color: colors.$hover_bg_color;
                }
                button:focus {
                    background-color: colors.$hover_bg_color;
                    outline: 0px;
                }
            }
            
        }
    }
}


/*   MISC   */

window.TopSpacer {
    
    .TransparentSpacer {
        transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
        background-color: transparent;
        min-height: $top_height;
    }

    .ColoredSpacer {
        transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
        background-color: colors.$bg_color;
        min-height: $top_height;
    }
}

window.FillerBar {
    background-color: colors.$bg_color;
    
    .LeftRightBox {
        min-width: $filler_bars_thickness;
    }

    .TopBottomBox {
        min-height: $filler_bars_thickness;
    }
}

.Divisor {
    background-color: colors.$bg_color;
    min-height: $filler_bars_thickness;
}

.CloseArea {
    background-color: transparent;
}

.Corner {
    background-color: colors.$bg_color;
    border-radius: #{$bradius - 4.8px};
}
.WindowCorner {
    background-color: colors.$bg_color;
    border-radius: $bradius;
}
.TransparentSpacerCorner {
    margin-top: 0;
}
.ColoredSpacerCorner {
    margin-top: 2.75rem;
}
//When a scrollable has a box inside and renders its elements inside that box then it needs this to remove a gray border
viewport {
    all: unset;
}

// Notifications

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

window.NotificationPopups {
    all: unset;
}

eventbox.Notification {

    &:first-child>box {
        margin-top: 1rem;
    }

    &:last-child>box {
        margin-bottom: 1rem;
    }

    // eventboxes can not take margins so we style its inner box instead
    >box {
        min-width: 300px;
        border-radius: $widget_bradius;
        background-color: colors.$bg_color;
        margin: .5rem 1rem .5rem 1rem;
        //box-shadow: 2px 3px 8px 0 gtkalpha(black, .4);
        //border: 1pt solid gtkalpha($fg-color, .03);
        border: 2px solid colors.$widget_bg_color;
    }

    &.critical>box {
        border: 1pt solid gtkalpha(colors.$error, .4);

        .header {

            .app-name {
                color: gtkalpha(colors.$error, .8);

            }

            .app-icon {
                color: gtkalpha(colors.$error, .6);
            }
        }
    }

    .header {
        padding: .5rem;
        color: colors.$accent_color;
        background-color: colors.$widget_bg_color;
        border-radius: 10px 10px 0 0;

        .app-icon {
            margin: 0 .4rem;
        }

        .app-name {
            margin-right: .3rem;
            font-weight: bold;

            &:first-child {
                margin-left: .4rem;
            }
        }

        .time {
            margin: 0 .4rem;
        }

        button {

            background-color: colors.$bg_color;
            color: colors.$accent_color;
            padding: .2rem;
            min-width: 0;
            min-height: 0;

        }
    }

    .content {
        margin: 1rem;
        margin-top: .5rem;
        color: colors.$accent_color;

        .summary {
            font-size: 1.2em;
        }

        .image {
            border: 1px solid gtkalpha(colors.$accent_color, .02);
            margin-right: .5rem;
            border-radius: 9px;
            min-width: 100px;
            min-height: 100px;
            background-size: cover;
            background-position: center;
        }
    }

    .actions {
        margin: 1rem;
        margin-top: 0;

        button {
            margin: 0 .3rem;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

// OSD
window.OSD {

    box.OSD {
        border-radius: $bradius $bradius 0rem 0rem;
        background-color: colors.$bg_color;
        padding: 13px 16px;
        //box-shadow: 3px 3px 7px 0 rgba(0,0,0,.4);
        color: colors.$accent_color;
    }

    icon {
        font-size: 1.6rem;
    }

    label {
        font-size: 1.2rem;
    }

    levelbar {
        
        * {
            border-bottom-color : colors.$accent_color;
        }

        trough {
            border-radius: $widget_bradius;
            margin: $filler_bars_thickness;
        }

        block {        
            border-radius: $widget_bradius;
            min-height: 0.8rem;
        }
    }
}

tooltip {
    background-color: colors.$accent_color;
    border-radius: $widget_bradius;
    
    * {
        font-size: small;
        font-style: normal;
    }
}