@define-color accent_color #afd18c;
@define-color accent_fg_color #0e2000;
@define-color accent_bg_color #afd18c;
@define-color window_bg_color #d9dbd0;
@define-color window_fg_color #1a1d16;
@define-color headerbar_bg_color #d9dbd0;
@define-color headerbar_fg_color #1a1d16;
@define-color popover_bg_color #d9dbd0;
@define-color popover_fg_color #1a1d16;
@define-color view_bg_color #f9faef;
@define-color view_fg_color #1a1d16;
@define-color card_bg_color #f9faef;
@define-color card_fg_color #1a1d16;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;